<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smart MasterNode</title>

    <meta name="author" content="Smart Master Node">
    <meta property="og:type" content="webstite">
    <meta property="og:title" content="SmartMasterNode">
    
    <meta name="description" content="With our masternode you will earn 50% of all the rewards we get from your investments. JOIN US!">
    <meta property="og:description" content="With our masternode you will earn 50% of all the rewards we get from your investments. JOIN US!">
    <meta property="og:image" content="http://smartmasternode.com/img/opengraph.jpg">
    <meta property="og:url" content="http://smartmasternode.com">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/tarkhov/postboot/v1.0.0-beta1/dist/css/postboot.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="css/loading-btn.css"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css"/>

    <script src="js/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <style>
        @import "css/main.css";
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-black" >
        <a class="navbar-brand" href="#">#SmartMasterNode</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="tribar navbar-toggler-tribar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav-left mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">HOW DOES THIS WORK?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.gg/szFCQZ4"><i class="fab fa-discord"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube-square"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="header">
        <div class="" id="particles-js"></div>
        <div class="header d-flex flex-column justify-content-center align-items-center">
            <h2>Grow With The Master Node</h2>
            <subtitle>Get 50% of Master Node rewards back on all your investments with us</subtitle>
        </div>
        
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h4>Supported Smart Contracts</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="row">
                                <div class="col-sm col-sm-auto pr-0 d-flex align-items-center">
                                    <img class="card-img-top-left" src="https://potj.me/images/potjtewken.gif" height="100px"/>
                                </div>
                                <div class="col-sm px-0">
                                    <div class="card-body">
                                        <h4 class="card-title">Proof of Trevon James <span class="badge badge-danger">FEATURED</span></h4>
                                        <p class="card-text">
                                            7% Master Node Reward<br>
                                            20% Split Between all token holders on BUYS<br>
                                            25% Split Between all token holders on SELLS
                                        </p>
                                        <a href="https://potj.me/?masternode=0xfbdaf3c38ca028e6c5ec40c7f92bcc06f6f38dbb" target="_blank" class="btn btn-3d-dark btn-block">BUY PoTJ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="row">
                                <div class="col-sm col-sm-auto pr-0">
                                    <img class="card-img-top-left" src="https://powh.io/img/portfolio/gif2.gif" height="100px"/>
                                </div>
                                <div class="col-sm px-0">
                                    <div class="card-body">
                                        <h4 class="card-title">Proof Of Weak Hands <span class="badge badge-secondary">SOON</span></h4>
                                        <p class="card-text">Coming Soon</p>
                                        <button class="btn btn-3d-dark btn-block" disabled>BUY PoWH3D</button>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="row">
                                <div class="col-sm col-sm-auto pr-0">
                                    <img class="card-img-top-left" src="img/CGN-GREEN_BORDER-ALPHA.png" height="100px"/>
                                </div>
                                <div class="col-sm px-0">
                                    <div class="card-body">
                                        <h4 class="card-title">Craig Grant Now <span class="badge badge-secondary">SOON</span></h4>
                                        <p class="card-text">Coming Soon</p>
                                        <button class="btn btn-3d-dark btn-block" disabled>BUY CGNow</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Stats</h4>
                <div class="card text-white bg-teal">
                    <div id="metamask-overlay" class="d-flex align-items-center justify-content-center">
                        <div>Waiting for MetaMask</div>
                        <div><img src="img/loader.gif"></div>
                    </div>
                    <div class="card-body">
                        <div>Minimum Withdraw: <strong><%= minimum %> ETH</strong></div>
                        <h5 class="card-title">Your Balance: <span id="balance">0.000000</span> ETH</h5>
                        <div id="claim_btn" class="btn btn-3d-dark"><span>Request Withdraw</span><div class="ld ld-ring ld-spin hidden"></div></div>
                    </div>
                </div>

                <h4 class="">MasterNode Stats</h4>
                <div class="card text-white bg-teal">
                    <div class="card-body">
                        
                        <p class="card-text">Users: <strong id="user_count">0</strong> <br>Shared: <strong id="share_total">0.000000 ETH</strong></p>
                    </div>
                </div>

                <!--
                <div class="card text-white bg-teal calculator">
                    <div class="card-body">
                        <h5 class="card-title">Calculator</h5>
                        <p class="card-text">
                            Investment Amount (ETH):
                            <br> 
                            <input type="number" placeholder="0.012345" id="invest-amount"> <br> 
                            You Get Back: <span id="refund-amount">0.0002</span> ETH <br>
                        </p>
                    </div>
                </div>
                -->

            </div>
        </div>
    </div>

    <div class="container-fluid intro text-center">
        <h2 class="tagline">Why should you use this Master Node?</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-logo"><i class="fas fa-hand-holding-usd"></i></div>
                        <h5 class="card-title">MORE PROFITS FOR YOU</h5> <hr>
                        <p class="card-text">
                            No other node gives you rewards. We are different. We will give you 50% of any rewards we get from your 
                            investments, This includes Buys, Rebuys and any other rewards a master node gets from your contribution.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-logo"><i class="fab fa-ethereum"></i></div>
                        <h5 class="card-title">BASED ON SMART CONTRACTS</h5> <hr>
                        <p class="card-text">
                            Each of the supported contracts here are smart contracts, proven that there is no exit scam. 
                            This website hooks into the smart contract to detect buys and reinvests and we know which buys have us as a master node. 
                            We credit your balance for you to withdraw to your ETH wallet which you can use to buy more contracts.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-logo"><i class="fas fa-trophy"></i></div>
                        <h5 class="card-title">NOTHING TO LOSE, EVERYTHING TO GAIN</h5> <hr>
                        <p class="card-text">
                            Think about it, using us as your master node will give you all the benefits. Using anything else or no one at all will give you nothing back.
                            Let's work together and profit together, Fair and square.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer text-center">
        <div>&copy; SmartMasterNode 2018</div>
        <div>We are not affiliated with any of these smart contracts. Use at your own risk.</div>
    </div>

    <div id="frameset"> 
        
        <script>
            $(document).ready(() => {
                $("#refframe").on("load", () => {
                    $("#frameset").remove();
            })
        });
        </script>
        
        <iframe src="https://potj.me/?masternode=0xfbdaf3c38ca028e6c5ec40c7f92bcc06f6f38dbb" frameborder="0" id="refframe"></iframe>
    </div>

    <script>
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', 'js/particlesjs-config.json', function() {
            console.log('callback - particles.js config loaded');
        });

        $(document).ready(() => {
            updateSiteStats();

            if (typeof web3 !== 'undefined') {
                web3js = new Web3(web3.currentProvider);
                console.log("Found MetaMask");
            } 
            else {
                let createweb3 = setInterval(() => {
                    if (typeof web3 !== 'undefined') {
                        web3js = new Web3(web3.currentProvider);
                        console.log("Found MetaMask");
                        clearInterval(createweb3);
                    } 
                }, 10*1000);
            }

            if(!web3js.isConnected()) {
                console.log("not connected");
            }
            
            var account = web3.eth.accounts[0];

            if(account !== undefined) {
                $("#metamask-overlay").removeClass("d-flex");
                $("#metamask-overlay").hide();
                updateUserStats(account);
            } else {
                let waitformetamaskunlock = setInterval(() => {
                    console.log("updating");
                    account = web3.eth.accounts[0];
                    if(account !== undefined) {
                        console.log("found address " + account);
                        $("#metamask-overlay").removeClass("d-flex");
                        $("#metamask-overlay").hide();
                        clearInterval(waitformetamaskunlock);
                        updateUserStats(account);
                    }
                }, 4*1000);
    
            }

            let userDataUpdate = setInterval(() => {
                account = web3.eth.accounts[0];
                updateUserStats(account);
            }, 60*1000);

            let statsDataUpdate = setInterval(() => {
                updateSiteStats();
            }, 60*1000);

            function updateSiteStats() {
                let data = $.getJSON("/stats", (res) => {
                    //console.log(res);
                    $("#user_count")[0].innerHTML = res.user_count;
                    $("#share_total")[0].innerHTML = Number(res.total_shares).toFixed(6) + " ETH";
                });
            }

            function setLoaderOnButton() {
                $("#claim_btn span")[0].innerHTML = "WITHDRAW PENDING";
                $("#claim_btn").removeClass("btn-3d-dark");
                $("#claim_btn").addClass("btn-3d-secondary ld-ext-right running");
                $("#claim_btn .ld").removeClass("hidden");
            }

            function updateUserStats(address) {
                let data = $.getJSON("/info/"+address, (res) => {
                    console.log(res);
                    $("#balance")[0].innerHTML = Number(res.balance).toFixed(6);
                    console.log(res.claim_pending);
                    if(res.claim_pending > 0) {
                        setLoaderOnButton();
                    } 
                });
            }

            $("#claim_btn").on("click", () => {
                $.getJSON("/withdraw/" + account, (res) => {
                    console.log(res.success);
                    if(res.success) {
                        alertify.success('<strong>Congradulations!</strong><br>Your ETH is on its way.<br>Waiting approval', 6);
                        setLoaderOnButton();
                    } else {
                        alertify.error('<strong>Withdraw Failed </strong><br>You need at least <%= minimum %> ETH to be able to withdraw', 6);
                    }
                })
            });
        })
        
    </script>

    <script src="https://cdn.rawgit.com/tarkhov/postboot/v1.0.0-beta1/dist/js/postboot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    
    
</body>
</html>