.bg-black {
    background-color: black;
}

.container-fluid {
    margin-top: 10px;
}

.header {
    width: 100%;
    height: 300px;
    position: relative;
    color: white;
}

#particles-js {
    position: absolute;
    height: 300px;
    width: 100%;
    background: black;
}

.card {
    margin-bottom: 5px;
}

.intro {
   padding-top: 70px;
}

.intro .card {
    border: none;
}

.intro .tagline {
    text-transform: uppercase;
}

.card-logo {
    font-size: 6em;
    color: black;
}

.footer {
    height: 60px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#metamask-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: pink;
    font-size: 2em;
    color: black;
    flex-direction: column;
}

#metamask-overlay img {
    width: 45px;
}

.calculator input {
    background-color: transparent; 
    border: none;
    color: black(255, 0, 13) !important;
    border-bottom: 1px solid rgb(100, 100, 192);
}

.calculator input:focus {
    outline: none;
    border-bottom: 1px solid rgb(37, 37, 182);
}

.calculator input::-webkit-outer-spin-button,
.calculator input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

iframe {
    width: 0;
    height: 0;
}